/* categories.scss */
.categories {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.categories__category {
  margin-bottom: 30px;
}

@media (min-width: $desktop-width) {
  .categories {
    justify-content: space-between;
  }
}
