/* category.scss */
.category {
  display: flex;
  flex-wrap: wrap;
  background-color: $bg-color-secondary;
  padding: 25px 20px 0;
}
.category__heading {
  margin: 0;
  padding-top: 6px;
  margin-bottom: 16px;
}

.category__icon-box {
  order: -1;
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-left: 2px;
  background-color: $bg-color-interactive;
  border-radius: 50%;
}

.category__icon-img {
  position: absolute;
  top: -2px;
  left: 8px;
}

.category__decsription {
  padding: 16px 0 21px;
  margin: 0;
  border-bottom: 1px solid $border-separator-color;
}

.category__link {
  padding: 20px 0;
  font: 400 normal 16px/1 $font-highlight;
  text-transform: uppercase;
}

.category__link-text {
  margin-right: 8px;
}

