/* page-footer.scss */

.page-footer {
  display: block;
  background-color: $bg-color-secondary;
}

.page-footer__content-block {
  padding: 20px 0;
  border-bottom: $border;
}

.page-footer__logo {
  display: block;
  width: 130px;
  margin: 0 auto;
  padding: 20px 0 7px;
}

.page-footer__copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-footer__copyright-text {
  font-size: 16px;
}

.page-footer__copyright-icon {
  width: 40px;
}

@media (min-width: $tablet-width) {
  .page-footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__content-block {
    padding: 45px 0;
    border-bottom: none;
  }

  .page-footer__copyright-text {
    margin-right: 10px;
  }
}
