/* promo-header.scss */

.promo-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 400 normal 14px/1 $font-highlight;
  color: $font-color-light;
}

.promo-header__background {
  position: absolute;
  z-index: -1;
  width: 320px;
  height: 305px;
  background: $bg-color-interactive url('../img/index-background-mobile@1x.jpg') no-repeat center top;
}

.promo-header__heading {
  margin: 0 0 25px;
  padding-top: 29px;
  text-align: center;
}

.promo-header__slogan {
  margin: 0 0 28px;
  text-transform: uppercase;
}

.promo-header__promo-img {
  margin: 0 0 2px;
}
