/* page-footer.scss */

.page-footer {
  background-color: $bg-color-secondary;

  &__content-block {
    width: 280px;
    padding: 20px 20px;
    border-bottom: 1px solid $border-separator-color;
  }

  &__logo{
    display: block;
    width: 130px;
    margin: 0 auto;
    padding: 19px 0 6px;
  }

  &__copyright-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copyright-text {
    font-size: 16px;
  }

  &__copyright-icon {
    width: 40px;
  }
}
